<%- include('publicheader') %>
<section>
<div class="d-flex justify-content-center align-items-center vh-100">
    
    <div class="container border border-dark rounded p-4 bg-body-secondary text-tertiary text-center" style="max-width:25vw;">
         <h4 style="margin-bottom: 30px;">Register</h4>
    <form action="/regpost" method="post">
      <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Name" aria-label="Name" name="name">
          </div>

         <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Age" aria-label="Name" name="age">
          </div>

           <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Dob" aria-label="Name" name="dob">
          </div>

          <div class="input-group mb-3 ">
         
          
         <input class="form-check-input" type="radio" name="gender" id="gender1" value="male">Male
        <input class="form-check-input" type="radio" name="gender" id="gender1" value="female">Female
         <input class="form-check-input" type="radio" name="gender" id="gender1" value="others">Others
        


       </div>
          <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" aria-label="Name" name="email">
          </div>
        <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Username" aria-label="Name" name="uname">
          </div>
        <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password" aria-label="Name" name="pword">
          </div>
        <div class="input-group mb-3">
            <td> <input type="submit" value="Register"></td>
           
        </div>
   
    </form>

    </div>
    </div>
    </section>
    <%- include('footer') %>