<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/seller/shopaddproduct">Add product</a>
    <a href="/seller/viewproducts">view product</a>
    <a href="/seller/viewcomplaint">view complaints</a>
     <a href="/seller/vieworders">view orders</a>
    
</body>
</html>