<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/videopost" method="post" enctype="multipart/form-data">
     <table>
        <tr>
            <td>Upload thumbnail</td>
            <td><input type="file" name="thumb" id="" required></td>
        </tr>
         <tr>
            <td>Upload images</td>
            <td><input type="file" name="images" id="" multiple required></td>
        </tr>
        <tr>
            <td><input type="submit" value="upload"></td>
        </tr>
     </table>
    </form>
</body>
</html>