<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Complaint</th>
            <th>Seller</th>
            <th>Reply</th>
            
            
        </tr>
        <% data.map((item)=>{ %>
          <tr>
            <td><%= item.complaint %></td>
               <td><%= item.product.seller.name %></td>
           
            <td><%= item.reply %></td>
        </tr>
      <%  }) %>
        
    </table>
</body>
</html>